# Base Python and original workflow
py3dep
rioxarray
matplotlib

# Geospatial & Core computation
numpy
pandas
shapely
fiona
rasterio
pyproj
rasterstats
folium
branca

# Utilities & Testing
tqdm
simplejson
pytest>=4.6
h3